body{
    width:960px;
    margin: 0px 0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

ul:first-of-type{
    list-style-type:none;
    padding: 0px;
}

ul li ul{
    margin-left: 40px;
}

h2{
    background-color: #DFE3E6 ;
    border-radius: 10px;
    border: 1px solid #929CA4;
    padding-left: 10px;
}

a,h2{
    color: #CC1C0D;
}

.pricing div{
    float: left;
    border: #DFE3E6 2px solid ;
    margin: 2px;
    align-content: center;
    border-radius: 10px;
    min-width: 232px;
    text-align: center;
    padding-top: 20px;
}

.pricing div:last-child{
    padding-top: 34px;
}

.pricing div:nth-of-type(4) h3{
    border-top: 10px solid #000000; 
}

.pricing div:nth-of-type(3) h3{
    border-top: 10px solid #685288; 
}

.pricing div:nth-of-type(2) h3{
    border-top: 10px solid #37A4A4; 
}

.pricing div:nth-of-type(1) h3{
    border-top: 10px solid #CC1C0D; 
}


#vprospect, #vconvert ,#vretain{
    font-weight: bold;
}

section > img{
    border: #cc1d0c 3px solid;
    border-radius: 3em;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
}

section p{
    margin-top: 0px;
}

p img{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

section > div > h3{
    padding-top: 10px;
}